{% extends "base.html" %}
{% block title %}ESP32 RSSI Monitor{% endblock %}

{% block content %}
    <div id="page-title-container">
        <h1>ESP32 Beacon Tracker</h1>
    </div>
    <div id="devices-container">
        <!-- Devices will be loaded here -->
    </div>
    <div id="scanner-data-container">
        <p>Fetching scanner data...</p>
    </div>

    <script src="{{ url_for('static', filename='js/index-updater.js') }}"></script>
    <script>
        document.getElementById('reset-button').addEventListener('click', function() {
            if (confirm('Are you sure you want to clear all device data?')) {
                fetch("{{ url_for('main.reset_devices_data') }}")
                    .then(response => response.json())
                    .then(data => {
                        // Handle response from server
                    });
            }
        });
    </script>
{% endblock %} 