<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32 RSSI Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simulation_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="page-title-container">
        <h1>Hitloop</h1>
        <nav>
            <a href="{{ url_for('main.index') }}">Home</a>
            <a href="{{ url_for('main.simulation_page') }}">Simulation</a>
            <a href="{{ url_for('main.configure_device_page') }}">Configure</a>
            <button id="reset-button">Reset All Devices</button>
        </nav>
    </div>
    <h1>ESP32 Beacon Tracker</h1>
    <div id="devices-container">
        <!-- Devices will be loaded here -->
    </div>
    <div id="scanner-data-container">
        <p>Fetching scanner data...</p>
    </div>

    <script src="{{ url_for('static', filename='js/index-updater.js') }}"></script>
    <script>
        document.getElementById('reset-button').addEventListener('click', function() {
            if (confirm('Are you sure you want to clear all device data?')) {
                fetch("{{ url_for('main.reset_devices_data') }}")
                    .then(response => response.json())
                    .then(data => {
                        // Handle response from server
                    });
            }
        });
    </script>
</body>
</html> 