<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32 RSSI Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>ESP32 Beacon Tracker</h1>
    <a href="/configure_device">Configure a Device</a>
    <div id="devices-container">
        <!-- Devices will be loaded here -->
    </div>
    <div id="scanner-data-container">
        <p>Fetching scanner data...</p>
    </div>

    <script src="{{ url_for('static', filename='js/index-updater.js') }}"></script>
</body>
</html> 